  <div>
    <div id="journal-entries" class="journal-sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-1 journal-sidebar-search" type="search" placeholder="Search"
          aria-label="Search">
      </form>

    </div>
  </div>
  <a href=""></a>