


<div class="container">

    


    <div class="row card-body">
        <div class="col-md-4">

            <div>
                <img src="" alt="Image would go here">
            </div>
        
           
        </div>
        <div class="col-md-8">
            <div class="row">
                 <nav class="nav">
                    <a class="nav-link active" href="goals">Goals</a>
                    <a class="nav-link" href="/journal">journal</a>
                    <a class="nav-link" href="#">Link</a>
                </nav>
        </div>
    </div>
`</div>