<div class="container">
  <div class="row card-body">

      <div class="col-md-2">
    {{!-- <ul>
      <li>entry 1</li>
      <li>entry 1</li>
      <li>entry 1</li>
      <li> add an entyr</li>
    </ul> --}}
  </div>
  <div class="col-md-10">
    <div>
      <form>
        <div class="form-group">
          <h1>My daily Journal</h1>
  </div>

  <div class="form-group row">

      <div class="col-md-6">
          <input type="text" class="form-control"  placeholder="Enter title">   
      </div>

      <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Enter Date">   
      </div>
   
  </div>

 
  <div class="form-group row">



    <div class="col-md-6">
       <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
    </div>

     <div class="col-md-6">
       <div class="row">
         <div class="col-md-12">
             <label for="exampleFormControlTextarea1">Todo List</label>
            <ul>
              <li>Todo 1</li>
              <li>Todo 2</li>
              <li>Todo 3</li>

              <form action="#">
                <div class="form-group row">
                  <input type="email" class="form-control col-md-8" id="exampleInputEmail1" placeholder="Enter new task">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            
            </ul>
         </div>

          <div class="col-md-12">
             <label for="exampleFormControlTextarea1">Weekly goal </label>
            <ul>
              <li>Goal 1</li>
              <li>Goal 2</li>
              <li>Goal 3</li>
               <form action="#">
                <div class="form-group row">
                  <input type="email" class="form-control col-md-8" id="exampleInputEmail1" placeholder="Enter new Goal">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </ul>
         </div>
         
         
       </div>
      
    </div>
   
  </div>
</form>
    </div>

  </div>

  </div>
</div>