
<login class="row">
    <div class="col-lg-8 col-sm-12 m-auto">
        <div class="card">

            <div class="card-title text-center">
                <i class="fas fa-sign-in-alt fa-5x"></i>
            </div>

            <div class="card-body col-lg-8 m-auto">
            
            
                <form class="" method="POST" action="login">
            
                    <div class="form-group">
                        <i class="fas fa-user"></i>
                        <label for="exampleInputEmail1">Username</label>
                        <input class="form-control" type="text" name="username" placeholder="User name" required autofocus>
            
                    </div>
            
                    <div class="form-group">
                        <i class="fas fa-lock"></i>
                        <label >Password</label>
            
                        <input type="password" class="form-control"  name= 'password'placeholder="Password">
                    </div>
            
                    <div class="form-group">
                        <a href="#">forgot password</a>
                        <a href="/register" class="float-right">sign up now</a>
            
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
            
        </div>
    </div>
</login>

