<register class="row">
    <div class="col-lg-8 col-sm-12 m-auto">
        <div class="card">

            <div class="card-title text-center">
                <i class="fas fa-sign-in-alt fa-5x"></i>
                <h3>Create An Account</h3>
            </div>

            <div class="card-body col-lg-8 m-auto">
            
            
                <form class="" method="POST" action="register">

                    <div class="row m-auto">
                        <div class="form-group col-sm-6">
                            <input class="form-control" type="text" name="fname" placeholder="First Name" required autofocus>
                        </div>
                
                        <div class="form-group col-sm-6">
                            <input class="form-control" type="text" name="lname" placeholder="Last Name" required autofocus>
                        </div>
                    </div>
                   
                    <div class="row m-auto">

                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control" name="username" placeholder="Enter Username">
                        </div>

                        <div class="form-group col-sm-12">
                            <input type="password" class="form-control" name="password" placeholder="Enter Password">
                        </div>
                    
                    
                        <div class="form-group col-sm-12">
                            <input type="password" class="form-control" name="re-password" placeholder="Re Enter Password">
                        </div>
                    
                        <div class="form-group col-sm-12">
                            <input type="emai" class="form-control" name="email" placeholder="Email">
                        </div>

                        
                    <div class="col-sm-12">
                        <i class="fas fa-hand-point-left"></i>
                        <a href="/login">Back to Login</a>
                        <button class="btn btn-lg btn-primary float-right" type="submit">Sign Up</button>

                    </div>
                    </div>
                   

                </form>
            </div>
            
        </div>
    </div>
</register>