{{>nav}}

<div class="container-fluid">
   {{>journal_sidebar}}
    
  <div class="row" id="journal-main" style=" margin:10px;padding-bottom:10px">

    <div class="col-md-12 ">
      <div class="form-row">
        <div class="col-md-12">
          <input style="border: 0;box-shadow: none; background:none"  id="journal-title" type="text" class="form-control border-0"
            placeholder="Title">
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4">
          <input type="text" id="journal_date" class="journal-input form-control" readonly>
        </div>
      </div>
    </div>

    <div class="col-md-9 ">
      <div class="mt-1">
        <a href="" id="openbtn" onclick="openNav();return false">&#8592; Previous Entries</a>
        <a href="" id="save-journal-link" class="float-right">save now</a>
        <textarea class="form-control" id="journal-entry-area" rows="19"></textarea>
      </div>
    </div>

  </div>
   
</div>

<script>
  $(document).ready(function(){
    setDate();
    ajax('GET', '/journal/get_journals',[],populateJournalEntry);
  });
</script>


<script src="/javascripts/journal_helpers.js"></script>